@model EntitiyLayer.Concrete.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h3>Başlık Güncelleme Sayafası</h3>
<br />

@using (Html.BeginForm("UpdateHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.HeadingId)
        @Html.HiddenFor(x => x.HeadingDate)
        @Html.HiddenFor(x => x.WriterId)
        <label>Başlık Adı</label>
        @Html.TextBoxFor(x => x.HeadingName, new { PlaceHolder = "Başlık Adı", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        <label>Kategori</label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.tasi, new { PlaceHolder = "Kategorisi", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId)
        <br />
        <button class="btn btn-primary">Güncelle</button>
    </div>
}




